#horoscope.horoscope-block li{
    float:left;
    padding:0;
    margin:0;
    background:none;
    
    
    width:150px;
    height:150px;
    /*background:#FF9C37;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 0px solid #800000;	 */   
}